export DOTFILES_PATH="$HOME/.dotfiles/bin"
export DOTNET_PATH="$HOME/.dotnet"

export PATH="$DOTFILES_PATH:$DOTNET_PATH:/usr/local/sbin:/usr/local/go/bin:$PATH"

export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"

plugins=(git zsh-syntax-highlighting zsh-autosuggestions zsh-completions)

source $ZSH/oh-my-zsh.sh

export EDITOR='nvim'


# nnn shortcut
n () {
  if [ -n $NNNLVL ] && [ "${NNNLVL:-0}" -ge 1 ]; then
    echo "nnn is already running"
    return
  fi

  export NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"

  nnn "$@"

  if [ -f "$NNN_TMPFILE" ]; then
    . "$NNN_TMPFILE"
    rm -f "$NNN_TMPFILE" > /dev/null
  fi
}

# Aliases
alias ll='n -Hde'
